*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
elpa-26.1
semanticdb
url
ede-projects.el
.DS_Store
places
.smex-items
savefile/
projectile-bookmarks.eld
ac-comphist.dat
.mc-lists.el
RFC/
tramp
.org-id-locations
org-caldav-a9a58e5.el
org-caldav-backup.org
.python-environments/
roguel-ike-saves/
bookmarks
projectile.cache
init-personal.el
request/
edts/
.cache/
abbrev_defs
elpa-25.3/
network-security.data
session*
elpa-25.2
elpa-26.2
elpa*
transient/
.lsp-session-v1
pyim/
.emacs.desktop
