# -*- mode: snippet -*-
# name: mssql-newtable
# key: mssql-newtable
# --
if exists(select * from dbo.sysobjects where id = object_id(N'[dbo].[$1]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table $2
go
create table $3(
  $4
)
